[Desktop Entry]
Encoding=UTF-8
Name=Link to Brazilian_jobsite.zip
Type=Link
URL=file:///tmp/nautilus-sendto-31OWZZ/Brazilian_jobsite.zip
Icon=application-zip
Name[en_US]=Brazilian_jobsite.zip
